
@{
    ViewBag.Title = "About";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Thông tin cửa hàng:</h3>
                <img src="~/Content/images/About.jpg" alt="">
                <h2>TRUNG TÂM ĐIỆN MÁY TRƯỜNG HOA</h2>
                <p>PHONE: 0204388015</p>
                <p>EMAIL:minkanklove6@gmail.com</p>
                <p>ADDRESS: Phố bằng, Xã An Hà, Lạng Giang, Bắc Giang</p>
            </div>
            <div style="width: 60% !important" class="col_1_of_3 span_1_of_3">
                <h3></h3>
                <div>
                    <h4>Giới thiệu cửa hàng:</h4>
                    <p>Cửa hàng Điện Máy Trường Hoa thành lập từ năm 2015 bởi cá nhân hộ gia đình ông Nguyễn Văn Trường. Với quá trình phát triển mạnh mẽ tạo ra một phong cách mua sắm hoàn toàn phù hợp với người dân , thông qua cung cấp các sản phẩm và dịch vụ tới người tiêu dùng. </p>
                    <p>Trong những năm qua, xã hội phát triển, kinh tế tăng trưởng đồng thời là chất lượng cuộc sống của người dân ngày càng càng được nâng cao nhiều trung tâm thương mại, nhà cao tầng, biệt thự được mọc ra kèm theo đấy là nhu cầu mua sắm các thiết bị phục vụ nhu cầu cuộc sống hàng ngày như Điều hòa, Tivi, Tủ lạnh, Điện gia dụng….. </p>
                    <p>Với kim chỉ nam là “Không ngừng phát triển vì khách hàng” và làm hài lòng khách hàng bằng cách tạo ra những giá trị gia tăng như cung cấp các sản phẩm, dịch vụ uy tín, chuyên nghiệp.</p>
                    <div class="clear"></div>
                </div>
                <div>
                    <h4>Mục tiêu chiến lược:</h4>
                    <p>1. Tối đa hoá giá trị đầu tư của các cổ đông; giữ vững tốc độ tăng trưởng lợi nhuận và tình hình tài chính lành mạnh.</p>
                    <p>2. Không ngừng nâng cao động lực làm việc và năng lực cán bộ, <b>Điện Máy Trường Hoa</b> phải luôn dẫn đầu ngành điện máy- nội thất trong việc sáng tạo, phát triển chính sách đãi ngộ và cơ hội thăng tiến nghề nghiệp cho cán bộ của mình.</p>
                    <p>3. Duy trì sự hài lòng, trung thành và gắn bó của khách hàng với Điện Máy Trường Hoa. xây dựng <b>Điện Máy Trường Hoa</b> thành một trong những cửa hàng có chất lượng dịch vụ rất uy tín, chuyên nghiệp.</p>
                    <p>4. Phát triển <b>Điện Máy Trường Hoa</b> thành một trong những hệ thống điện máy hàng đầu về: quản lý tốt, môi trường làm việc tốt, văn hoá chú trọng khách hàng, thúc đẩy hợp tác và sáng tạo và rất linh hoạt khi môi trường kinh doanh thay đổi.</p>
                    <div class="clear"></div>

                </div>
                <div>
                    <h4>Cam kết: </h4>
                    <p>Điện Máy Trường Hoa nỗ lực hướng tới mục tiêu phát triển bền vững và trở thành thương hiệu hàng đầu về cung cấp các sản phẩm Điện máy – Nội thất tại Việt Nam . Dựa vào nội lực của chính mình và mở rộng hợp tác với các đối tác chúng tôi cam kết.</p>
                    <p>Cam kết với đối tác :<br />
                        – Trở thành đối tác chiến lược trên cơ sở ” Hợp tác, phát triển bền vững ” hợp tác toàn diện lâu dài nhằm kịp thời đưa những sản phẩm mới và dịch vụ theo các yêu cầu đặc thù của khách hàng.</p>
                    <p>
                        Cam kết với khách hàng :<br />
                        – Luôn luôn làm khách hàng hài lòng về các sản phẩm và dịch vụ do Điện Máy Trường Hoa cung cấp. Sự thành công hài lòng của khách hàng là thước đo uy tín hiệu quả của doanh nghiệp.<br />
                        – Giá cả hàng hóa luôn hợp lý và được cập nhật chính xác, kịp thời để phục vụ khách hàng tối đa.<br />
                        – Luôn lắng nghe, phân tích và học hỏi từ thị trường trong và ngoài nước. Không bao giờ tự mãn với thành công đã có.<br />
                        – Luôn nhìn lại mình để phát triển (đạo đức và kiến thức chuyên môn). Mỗi nhân viên là một thương hiệu cá nhân. Mỗi nhân viên là một đại sứ thiện chí của Điện Máy Trường Hoa đối với thế giới bên ngoài.
                    </p>
                </div>
                

            </div>
            
        </div>
</div>
</div>

